@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    --whacking-dusky-blue: #475f94;
    --loverless-light-gold: #fde37a;
    --unremarked-orangey-red: #fa4224;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--loverless-light-gold);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

#logo {
    width: 250px;
    height: auto;
}

main {
    width: 300px;
}

.content-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

#timer {
    position: absolute;
    background: var(--unremarked-orangey-red);
    width: 240px;
    height: 240px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

#timer p {
    font-size: 4rem;
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

circle {
    fill: none;
    stroke: var(--unremarked-orangey-red);
    stroke-width: 10px;
    stroke-dasharray: 875;
    animation: anim 1s linear forwards;
}

svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ================ buttons interativos =================== */

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    gap: 1rem;
}

.buttons button {
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 25px;
    background: var(--whacking-dusky-blue);
    opacity: 0.8;
    transition: 2s ease;
}

.buttons button:hover {
    opacity: 1;
}

.buttons button img {
    width: 25px;
    height: 25px;
}

/* ================Audio=============== */

.sectionbuttonAudio {
    position: absolute;
    right: 0;
    width: 10%;
}

#buttonAudio {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: var(--whacking-dusky-blue);
    opacity: 0.8;
}

#buttonAudio:hover {
    opacity: 1;
}
